::-webkit-scrollbar {
    width: 0.75rem;
}

::-webkit-scrollbar-track {
  box-shadow: transparent;
  background-color: "#111633";
}

::-webkit-scrollbar-thumb {
  background: #19214b;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #1b2350;
}

::-webkit-scrollbar-corner {
  background-color: #c6c9d6;
  border-radius: 0px 0px 10px 0px;
}